<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <div class="container" style="background-color: #FFFFFF; width: 50%; color: cadetblue; margin: 15% 0 0 25%">
        <h1>
            You need to log in to visit this web site!
        </h1>
        <a href="/"> Go back to Home page! </a>
    </div>
</body>
</html>
